/*캘린더 표 스타일*/
table {
  width: 100%;
  border-collapse: collapse;
}

/* 셀 스타일 */
th,
td {
  border: 1px solid #d7dbd0;
  padding: 8px;
  text-align: center;
}

/*캘린더 헤더스타일*/
th {
  background-color: #a2ab91;
}

/*마우스 hover인식*/
td {
  cursor: pointer;
}

td:hover {
  background-color: #a2ab91;
}

/*달력위치*/
#calendarControls {
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  background-color: #fefbec;
}

/*전체 사이트 배경*/
body {
  background-image: url('Calender_배경화면.png');
  /* 배경 이미지 경로 */
  background-size: cover;
  /* 화면에 꽉 차게 배경 이미지 크기 조절 */
  background-position: center;
  /* 배경 이미지 중앙 정렬 */
}