/*캘린더 표 스타일*/
table {
  width: 100%;
  border-collapse: collapse;
}

/* 셀 스타일 */
th,
td {
  border: 1px solid #d7dbd0;
  padding: 8px;
  text-align: center;
}

/*캘린더 헤더스타일*/
th {
  background-color: #a2ab91;
}

/*마우스 hover인식*/
td {
  cursor: pointer;
}

td:hover {
  background-color: #a2ab91;
}

/*달력위치*/
#calendarControls {
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  background-color: #fefbec;
}

/*전체 사이트 배경*/
body{
  background-color: #fefbec ;
}