<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input name="member" placeholder="기존 가족이 있으십니까?" >
  <input name="member" placeholder="가족을 추가하시겠습니까?" >
  <button type="submit"> 가족 추가</button>
</body>
</html>