<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="\addFamily.css">
</head>

<body>
<form class="form-box" action="/addFamily" method="POST">
  <!-- 가족 추가 -->
  <div class="input-container">
  <!-- user의 닉네임 -->
  <span id="userNicknameDisplay" class="user-nickname"><p><%= userNickname %>님</p></span>
  <!-- Member 연결 -->
  <input name="Member" oninput="toggleInputs()" class="connect"><p>연결하고 싶은 닉네임입력</p>

  <!-- 체크박스 -->
  <label>
    <input name="NotFamily" type="checkbox" va
  lue="yes" onclick="toggleInputs()" class="custom-checkbox" id="checkbox"> 
    <span class="custom-checkbox-label"></span>
  </label>
  <button type="submit" id="next-btn">다음</button>
</form>
</div>
<script>
  function toggleInputs() {
    const memberInput = document.querySelector('input[name="Member"]');
    const notFamilyCheckbox = document.querySelector('input[name="NotFamily"]');
    
    if (memberInput.value.trim() !== "") {
      notFamilyCheckbox.disabled = true;
    } else {
      notFamilyCheckbox.disabled = false;
    }
    if (notFamilyCheckbox.checked) {
      memberInput.disabled = true;
    } else {
      memberInput.disabled = false;
    }
  }
</script>
</body>
</html>


