<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class="form-box" action="/addFamily" method="POST">
    <!-- 기존 가족 추가 -->
    <%= userNickname %>님의 가족 추가 
    <input name="Member" placeholder="기존 가족 연결" >
    <!-- 새로운 가족 추가 -->
    <input name="NewMember" placeholder="새로운 가족 연결" >
    <button type="submit"> 가족 추가</button>
  </form>
</body>
</html>