<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class="form-box" action="/addFamily" method="POST">
    <!-- 기존 가족 추가 -->
    <input name="Member" placeholder="들어가고싶은 가족의 닉네임을 입력하세요" >
    <!-- 새로운 가족 추가 -->
    <input name="NotFamily" type="checkbox" value="yes">방을 개설하실겠습니까?<br>
    <button type="submit"> 다음 </button>
  </form>
</body>
</html>