<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class="form-box" action="/addFamily" method="POST">
    <!-- 기존 가족 추가 -->
    <input name="Member" placeholder="기존 가족과 연결" >
    <!-- 새로운 가족 추가 -->
    <input name="NotFamily" type="checkbox" value="yes"> 가족 추가 안함<br>
    <button type="submit"> 다음 </button>
  </form>
</body>
</html>