<script>
  function toggleInputs() {
    const memberInput = document.querySelector('input[name="Member"]');
    const notFamilyCheckbox = document.querySelector('input[name="NotFamily"]');
    
    if (memberInput.value.trim() !== "") {
      notFamilyCheckbox.disabled = true;
    } else {
      notFamilyCheckbox.disabled = false;
    }
    if (notFamilyCheckbox.checked) {
      memberInput.disabled = true;
    } else {
      memberInput.disabled = false;
    }
  }
</script>
</head>
<body>
<form class="form-box" action="/addFamily" method="POST">
  <!-- 기존 가족 추가 -->
  <input name="Member" placeholder="들어가고싶은 가족의 닉네임을 입력하세요" oninput="toggleInputs()">
  <!-- 새로운 가족 추가 -->
  <input name="NotFamily" type="checkbox" value="yes" onclick="toggleInputs()"> 방을 개설하실겠습니까?<br>
  <button type="submit">다음</button>
</form>
</body>
</html>