<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="\addFamily.css">
</head>

<body>
<form class="form-box" action="/addFamily" method="POST">
  <!-- 가족 추가 -->
  <div class="input-container">
  <img src="\img\AddFamily명함.png" alt="card" id="card">
  <!-- user의 닉네임 -->
  <span id="userNicknameDisplay" class="user-nickname"><p><%= userNickname %>님</p></span>
  <!-- Member 연결 -->
  <input name="Member" placeholder="기존가족과 연결(닉네임 입력)" oninput="toggleInputs()" class="connect">
  <!-- 체크박스 -->
  <input name="NotFamily" type="checkbox" va
  lue="yes" onclick="toggleInputs()"  id="notFamilyCheckbox"> 
  <label for="notFamilyCheckbox" class="notFamilyLabel">기존 가족 없음</label>
  <button type="submit" id="next-btn">다음</button>
</form>
</div>
<script>
  function toggleInputs() {
    const memberInput = document.querySelector('input[name="Member"]');
    const notFamilyCheckbox = document.querySelector('input[name="NotFamily"]');
    
    if (memberInput.value.trim() !== "") {
      notFamilyCheckbox.disabled = true;
    } else {
      notFamilyCheckbox.disabled = false;
    }
    if (notFamilyCheckbox.checked) {
      memberInput.disabled = true;
    } else {
      memberInput.disabled = false;
    }
  }
</script>
</body>
</html>


