<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="\adduser.css">
</head>
<body>
  <!-- 친구추가 폼-->
  <form class="form-box" action="/addUser" method="POST">
    <div class="input-container">

      <span id="userNicknameDisplay" class="user-nickname"><p><%= userNickname %>님</p></span>
      <p class="connect-text">연결하고 싶은 가족의 닉네임입력</p>
      <input name="Member" placeholder="닉네임 입력" class="connect">
      <button type="submit" id="plus-btn"> 확인 </button>
    </form>
  </div>
  <!-- socket.io 라이브러리 설치 -->
  <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
  <script>

    const socket = io()

    // document.querySelector('.chat-button').addEventListener('click', function() {
    //   let userNickname = document.querySelector('.chat-input').value;
    //   // 닉네임을 서버로 전송
    //   socket.emit('addUser', userNickname);
    //   // 서버로부터 응답 수신
    //   socket.on('name', (data) => {
    //     console.log(data);
    //   });
    // });
  </script>
</body>
</html>