<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 친구추가 폼-->
  <div class ="chat-form">
    <input class="chat-input">
    <button class="chat-button">추가</button>
  </div>

  
  <!-- socket.io 라이브러리 설치 -->
  <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
  <script>

    const socket = io()
    // socket.emit('ask-join','<%= users.userNickname %>')

    document.querySelector('.chat-button').addEventListener('click', function() {
      let userNickname = document.querySelector('.chat-input').value
      // socket.emit('message', {msg: 'userNickname', FamilyRoom :<%= users.member %>})
      socket.on('name', (data)=> {
        console.log(data)
      })
    })
  </script>
</body>
</html>