<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/login.css" rel="stylesheet">
</head>
<body>
  <!-- 로그인 레이아웃 -->
  <form class="form-box" action="/firstlogin" method="POST">
  <h4 class ="login-title">Healttogi</h4>
  <input name="username" placeholder="ID">
  <input name="password" type="password" placeholder="Password">
  <button type="submit">LOGIN</button>
</form> 

</body>
</html>
