<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/register.css" />
  </head>
  <body>
    <!-- 전송 버튼 누르면 register에 POST 요청 보냄 -->
   <form class="form-box" action="/register" method="POST"> 
    <h4>가입</h4>
    <input name="userNickname">
    <input name="username">
    <input name="password" type="password">
    <button type="submit">전송</button>
</form> 
    </div>
  </body>
</html>
