/* html과 css의 기본 마진과 패딩 제거 */
html, body {
  margin: 0;
  padding:0;
  overflow: hidden;
}

/*전체 사이트 배경*/
body {
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  background-image: url('./img/AddFamily배경화면.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Arial, sans-serif;
}

.input-container {
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#card {
  position: absolute;
  width: 600px;   
  height: 350px;   
  margin-top: 100px; /* 이미지 주위에 20픽셀의 여백 추가 */
  margin-left: 500px;
  z-index: 1; /* z-index 추가 */
}

/* 기본 체크박스를 숨깁니다 */
.custom-checkbox {
  display: none;
}

/* 커스텀 체크박스 스타일 */
.custom-checkbox-label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  cursor: pointer;
  position: relative;
}

/* 체크 상태일 때 X 모양을 표시합니다 */
.custom-checkbox:checked + .custom-checkbox-label::before {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #000;
}

/* "가족 추가 안함" 글자 */
.notFamilyLabel {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  top: 350px; 
  left: 820px;
  width: 50px;
  height: 500px; 
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
}

/* 기존 가족 연결 */
.connect {
  position: absolute;
  top: 273px; 
  left: 810px;
  width: 230px;
  height: 45px; 
  z-index: 2;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

/* 가족 연결 placeholder 설정 */
.connect::placeholder {
  font-size: 17px; /* Placeholder 글씨 크기 조절 */
  color: #534f4f; /* Placeholder 글씨 색상 조절 */
}


#notFamilyCheckbox:checked {
  background-color: #4CAF50 !important; /* 체크 색상 변경 */
}

/* userNickname 꾸미기 */
.user-nickname {
  position: absolute;
  color: rgb(2, 2, 2);
  font-weight: bold;
  font-size: 40px;
  left: 870px;
  top: 170px;
  z-index: 2;
  text-align: center;
}

#next-btn {
  position: absolute;
  top: 470px;
  left: 760px;
  background-color: #a2ab91; /* 버튼 배경색 */
  border: none; /* 테두리 제거 */
  color: white; /* 버튼 텍스트 색상 */
  display: inline-block; /* 인라인 블록 형태로 표시 */
  z-index: 2;
  font-weight: bold;
}

