/*캘린더 표 스타일*/
table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align:center;
  border: 2px solid #000000; 
}

/* 월별 캘린더 글자 */
.calendar-title {
 padding: 0px;
}

.calendar-title img {
  width: 200px; 
  height: auto; 
}

/* 셀 스타일 */
th,td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center; 
  border-bottom: 1px solid #000000; 
}

/*캘린더 헤더스타일*/
th {
  background-color: #a2ab91;
  text-align: center;
}

/*마우스 hover인식*/
td {
  cursor: pointer;
}

td:hover {
  background-color: #a2ab91;
  font-weight: bold;
}

/*달력위치*/
#calendarControls {
  text-align: center;
}

/* 왼쪽화살표 */
.prev {
  cursor: pointer;
  
  font-size: 24px;
  padding: 10px;
}
/* 오른쪽 화살표 */
.next {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*전체 사이트 배경*/
body {
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  background-image: url('./img/Calendar_배경화면.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 현재 연도와 월 표시 스타일 */
#currentMonth {
  font-size: 25px; /* 원하는 크기로 조절 */
  font-weight:lighter; /* 굵게 표현하고 싶은 경우 */
  /* 추가적인 스타일링이 필요하면 여기에 코드 추가 */
}

#calendarControls {
  width: 70%; /* 표의 너비와 일치하게 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  background-color: #a2ab91; /* 원하는 배경색 설정 */
  /* 추가적 스타일링 */
  padding: 5px 0; /* 상하 패딩 설정 */
  text-align: center; /* 내부 텍스트 가운데 정렬 */
  border: 1px solid #000000;
}

/* .today {
  background-color: #a2ab91;
  font-weight: bold;
} */

.calendar-day.selected {
  background-color: #007bff;
  color: #000000;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 페이지 높이에 맞게 조절 */
  width: 500px;
}

.text {
  text-align: center;
}

.userContainer{
  margin-top : 20px
}

.CalendarContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 추가 */
}

.CalendarContainer>img{
  position: relative;
  top : -30px;
  width: 1200px;
  height: auto;
  display : inline-block
}

.CalendarUser{
  background-color: red;
  width: 1100px;
  height: 180px;
  display : inline-block;
  position: absolute; /* 추가 */
  top: 140px;
  display: flex; /* 추가 */
  justify-content: space-around; /* 요소 간격을 균등하게 */
}

.UserContent1{
  background-color: blue;
  display : inline-block;
  width: 200px; /* 원하는 너비로 조정 */
  height: 150px; /* 원하는 높이로 조정 */
}

.UserContent2{
  background-color: blue;
  display : inline-block;
  width: 200px; /* 원하는 너비로 조정 */
  height: 150px; /* 원하는 높이로 조정 */
}

.UserContent3{
  background-color: blue;
  display : inline-block;
  width: 200px; /* 원하는 너비로 조정 */
  height: 150px; /* 원하는 높이로 조정 */
}

.UserContent4{
  background-color: blue;
  display : inline-block;
  width: 200px; /* 원하는 너비로 조정 */
  height: 150px; /* 원하는 높이로 조정 */
}