/* html과 css의 기본 마진과 패딩 제거 */
html, body {
    margin: 0;
    padding:0;
    overflow: auto;
  }

body {
    background-image: url('./img/dailyrecord.JPG');
    background-size: cover; /* 배경 이미지가 화면 전체를 덮도록 설정 */
    background-position: center; /* 배경 이미지의 위치를 중앙으로 설정 */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    justify-content: center;
    background-size: 100% 100%;
    overflow-y: auto; /* 세로 스크롤이 가능하도록 설정 */
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8); /* 배경색을 반투명 흰색으로 설정 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

#exerciseList {
    position: relative;
    top: -20px;
}

.left-panel, .right-panel {
    width: 48%;
    text-align: center;
}

.left-panel {
    margin-right: 2%;
    text-align: center;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: flex-start; /* 콘텐츠를 위쪽 정렬 (필요에 따라 조정 가능) */
}

h2 {
    margin-top:-5px;
}

.centered {
    position: relative;
    text-align: center;
    top: -20px;
}
.mb-3 {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 1px;
}

.btn {
    position: relative;
    background-color: #7dbcff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#redirectButton {
    position: relative;
    top: -20px;
}
.btn:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered-kcal {
    position: relative;
    text-align: center;
    top: -30px;
}

.deleteButton {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 15px;
}

.deleteButton:hover {
    background-color: #c82333;
}

#message {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}