body {
    height: 100vh;
    width: 100vw;
    background-image: url('./img/초기화면(버튼X).png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 520px; 
}

.register, .login {
    width: 600px; 
    height: auto;
    margin: 5px 0; 
}

.image-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.image-button img {
    width: 450px; 
    height: auto; 
}
