/*기본적으로 걸린 모든 속성 reset*/

.login-title {

}
/* 폼전체 스타일 */
.form-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 폼 입력 필드들에 스타일 적용 */
.form-box input {
  font-size: 14px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  padding-left: 15px;  /* 좌측 여백 추가 */
  padding-right: 15px; /* 우측 여백 추가 */
  width: calc(100% - 30px); /* 좌우 여백을 제외한 너비 */
}

/* 로그인 버튼 */
.form-box button {
  color: #000000;
  font-size: 14px;
  background-color: #fbf6f1;
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  width: 100%;
}

/* 회원가입 링크 */
.form-box a {
  margin-top: 10px;
  text-align: center;
  color: #007BFF;
  text-decoration: none;
}


/*전체 사이트 배경*/
body {
  height: 100vh;
  width: 100vw;
  margin:0;
  width: 100%;
  height: 95vh;
  background-image: url('./img/Login_배경화면.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

